@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');

h1 {
  font-family: 'Playfair Display SC', serif;
  display: inline-block;
  float: left;
  margin: 20px;
}

header img {
  display: inline-block;
  float: left;
  margin-left: 30px;
}

h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

#submit-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #900;
}

#submit-table td {
  text-align: center;
  border: 2px solid #900;
  width: 33%;
}

thead td {
  background-color: #900;
  color: #EEE;
  text-align: center;
}

.main-head {
  background-color: #900;
  color: #EEE;
  text-align: center;
  padding: 20px;
}

a {
  color: #900;
}

.special-word {
  font-family: 'Permanent Marker', cursive;
}

header {
  padding: 10px 50px 10px 50px;
  background-color: #990000;
  overflow: auto;
  padding: 20px;
  box-shadow: 0px 10px 10px #999;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}


h1 a {
  text-decoration: none;
  color: white;
}

nav {
  float: right;
  color: white;
}

nav a {
  padding: 5px 10px 5px 10px;
  color: white;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

nav a:hover {
  background-color: #B92020;
  cursor: pointer;
}

body {
  background-color: #EEE;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

main {
  padding: 40px 120px 40px 120px;
}

thead {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.q {
  font-weight: 400;
}

.qanda {
  font-size: 2em;
}

td {
  vertical-align: top;
  padding: 20px;
}

.odd-row {
  background-color: #EEE;
  color: #990000;
}

.highlight {
  background-color: #EEE;
  color: #900;
  padding: 3px;
  border-radius: 3px;
  font-family: 'Permanent Marker', cursive;
}

.odd-row .highlight {
  background-color: #900;
  color: #EEE;
}

input[type='checkbox'] {
   display: none;
 }

.wrap-collabsible {
  margin: 1.2rem 0;
  background-color: #990000;
  color: #EEE;
  border-radius: 15px;
  box-shadow: 0px 10px 10px #999;
  }

.wrap-collapsible:hover {
  background-color: #B92020;
}

.lbl-toggle {
  display: block;
  padding: 1rem;
  cursor: pointer;
  border-radius: 15px;
  overflow: auto;
  }

.lbl-toggle:hover {
  background-color: #b92020;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  }

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
  }

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  }

.collapsible-content .content-inner {
  padding: .5rem 1rem;
  }

.collapsible-content table {
  margin-bottom: 0;
}

.left-info {
  display: inline-block;
}

.right-quote {
  display: inline-block;
  float: right;
  background: #B92020;
  height: 100%;
  color: #EEE;
  font-weight: 400;
  padding: 20px;
  width: 25%;
  line-height: 1.25;
  border-radius: 15px;
}

td[colspan='2'] a {
  color: #EEE;
  text-align: center;
}

tbody td[colspan='3'] {
  background: #B92020;
  color: #EEE;
}

#index-links {
  width: 100%;
}

#index-links td {
  width: 50%;
  text-align: center;
  vertical-align: center;
}

#index-links td a {
  vertical-align: center;
  color: #EEE;
  background: #900;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  width: 90%;
  padding: 40px 0px 40px 0px;
  font-size: 1.5em;
  box-shadow: 0px 5px 10px #999;
}

#index-links td a:hover {
  background: #B92020;
}

#index-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;
  border-top: 4px solid #900;
  border-bottom: 4px solid #900;
}

#index-head {
  background-color: #B92020;
  color: #EEE;
  text-align: center;
  vertical-align: center;
  height: 4em;
  border-top:
}

#index-head h2 {
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  line-height: 2em;
}

#me {
  float: left;
  margin: 0px 15px 15px 0px; 
}
